@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron">
    <h1>Human resource management system</h1>
    <p class="lead">Demo 2 for Soft Serve Academy</p>
</div>
<div class="row">
    <div class="col-md-4">
        @Html.ActionLink("Employees management", "Index", "Employee", null, new { @class = "btn btn-default" })
    </div>
    <div class="col-md-4">
        @Html.ActionLink("Teams management", "Index", "Team", null, new { @class = "btn btn-default" })
    </div>
    <div class="col-md-4">
        @Html.ActionLink("Projects management", "Index", "Project", null, new { @class = "btn btn-default" })
    </div>
</div>